# Dependencias
frontend/node_modules/
backend/vendor/

# Builds
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# Laravel
backend/.env
backend/.env.backup
backend/.env.production
backend/storage/logs/*.log
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/*.php

# OS
.DS_Store
Thumbs.db
desktop.ini
